#non-tier-section .item-container img{
    height: 100px;
    width: auto;
}
.tier-list{
    height: 110px;
    width: auto;
   display: flex;
   flex-direction: row;
}
.heading{
    height: 100px;
    width: 100px;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.textCotainer{
    height: 100px;
    width: 100px;
    background-color: olivedrab;
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: larger;
    
}
.tier-list-items{
    height: 100px;
    width: 1450px;
    background-color: rgb(158, 174, 142);
    /* min-width: 50%; */
    display: flex;
    flex-direction: row;
}
.tier-list-items .item-container{
    height: 100px;
    width: 70px;
    display: flex;
    
}
